<div class="hero-unit box" style="width: 400px">
  <div class="title">
  	<h1>File Upload</h1>
  </div>
  <%=form_tag '/resources', :multipart => true do%>
	<%=render :partial => "shared/simple_error_message"%>
	<%=file_field_tag "path", :accept => "application/json"%>
	  <p class="submit pull-right">
	  	<%=link_to "キャンセル", resources_path, :class => "btn btn-large"%>
	  	<%=submit_tag "アップロード", :class => "btn btn-primary btn-large"%>
	  </p>				
	<%end%>