<%@document_title = 'ログイン'%>
<%=flash_error_message%>
<%=flash[:notice]%>

<%=form_tag :action => "login", :method => :post do%>
<div class="hero-unit" width="500px">
	<h2>FilderViewer</h2>
<table class="login">
	<tr>
		<th><%=attr_name(:user, :name)%>:</th>
		<td><%=text_field_tag :name, "",{:size =>35}%></td>
	</tr>
	<tr>
		<th><%=attr_name(:user, :password)%>:</th>
		<td><%=password_field_tag :password, "",{:size =>35}%></td>
	</tr>
	<tr>
		<td><%=link_to 'ユーザー登録', new_user_path%></td>
		<td class="submit"><%=submit_tag 'ログイン', :class =>'btn btn-primary'%></td>
	</tr>
</table>
<%end%>
</div>
